{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
<form action="{% url 'create_page' %}" method = "post">
  {% csrf_token %}

  <div class="form-group">
   <label for="formGroupExampleInput">Title</label>
   <input type="text" name="title" class="form-Title" id="formGroupExampleInput" placeholder="Write Title">
   </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write Text</label>
    <input type="text"  name="cont" class="form-control" id="formGroupExampleInput" placeholder="">
  </div>
<div>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter</button>
</div>
</form>
{% endblock %}
